<h3 class="text-center p-2">INSERTE UN NUEVO HOSPITAL</h3>

<div class="d-flex w-100 justify-content-center">
    <form method="post">
        <label class="form-control">Nombre:  </label>
        <input type="text" name="nombre"/>
        <label class="form-control">Imagen:  </label>
        <input type="text" name="imagen" />
        <label class="form-control">Descripcion:  </label>
        <input type="text" name="descripcion" />
        <input type="submit" value="Insertar" />
    </form>
</div>